// Define variables for your color scheme

// For example:
$red: rgba(241, 169, 160, 1);
$blue: #2e3131;
$yellow: #ffc65a;
$orange: rgba(250, 216, 89, 0.7);
$green: #3aafa9;
$gray: #0e0000;
$light-gray: #f4f4f4;
