// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.banner h1 {
  margin: 0;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 7px #2e3131;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.btn_div {
  margin-top: 48px;
  text-align: center;
}

.btn_div .btn-flat {
  margin-top: 40px;
  padding: 24px 32px;
  color: white;
  opacity: .9;
  padding: 8px 24px;
  border-radius: 4px;
  background: #3AAFA9;
  transition: background 0.3s ease;
}

.btn_div .btn-flat:hover {
  background: #3AAFA9;
  color: white;
}

html, body {
  height: 100%;
}
