<%= render 'alert_label'%>
<%= cl_image_tag("#{@product.label_photo}", height: 250, crop: :fill, class: "w-100") %>
<div class="mt-3 container">
  <p class="text-center">Kindly
    <%= link_to edit_product_path(@product) do %>
      <span class="font-weight-bold text-success">fill the form  <i class="far fa-file-alt"></i></span>
    <% end %>
  to add this product</p>
  <div class="card rounded shadow">
    <div class="card-body">
      <div class="card-title">
        <h5 class="card-title text-center">Label Text Result</h5>
      </div>
      <div class="card-text">
        <p class="card-text"><%= @product.label_text %></p>
      </div>
    </div>
  </div>
</div>
