<%= render 'shared/navbar_home' %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1556906918-c3071bd11598?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);">
  <div class="container">
    <h1>Don't Let Allergies Stop You From Trying New Food In Japan!</h1>
    <div class="btn_div">
      <%= link_to scan_barcodes_path, class: "btn btn-flat btn-lg jittery shadow" do%>
        <%= image_tag 'barcode-white-crop.png', height:40, width:80, class: "mt-2" %>
        <p class="mb-0">Scan now</p>
      <% end %>
    </div>
  </div>
</div>
