<div class="container mt-5">
  <h2 class="text-center">Log in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <div class="form-group email optional user_email email-form">
        <label class="email optional" for="user_email"><i class="far fa-envelope mr-2"></i>Email</label>
        <input class="form-control string email optional" autocomplete="email" autofocus="autofocus" type="email" value="" name="user[email]" id="user_email">
      </div>
      <div class="form-group password optional user_password password-form">
        <label class="password optional" for="user_password"><i class="fas fa-lock mr-2"></i>Password</label>
        <input class="form-control password optional" autocomplete="current-password" type="password" name="user[password]" id="user_password">
      </div>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions text-center">
      <%= f.button :submit, "Log in", class: 'btn btn-primary' %>
    </div>
  <% end %>
  <div class="text-center mt-3">
    <%= render "devise/shared/links" %>
  </div>
</div>