#alert {
  height: 85vh;
}

.alert-danger-bg {
  background-color: rgba(241, 169, 160, 1);
  padding: 10px;
  border-radius: 20px 0px 20px 0px;
}

.alert-info-bg {
  background-color: #ffc65a;
  padding: 20px;
  border-radius: 20px 0px 20px 0px;
}

.alert-safe-bg {
  background-color: #a2ded0;
  padding: 10px;
  border-radius: 20px 0px 20px 0px;
}

.danger-icon {
  font-size: 100px;
}

.info-icon{
  font-size: 150px;
}
