.email-form input {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #2e3131;
}

.password-form input {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #2e3131;
}


#upload-icon {
  left: 0;
  right: 0;
  margin: auto;
  color: #3AAFA9;
  font-size: 50px;
}


#upload-img {
  color: #545454;
}

input[type=file] {
  margin-top:20px;
  padding:5px;
  background-color:#a2ded0;
  border-radius: 5px;
}
