.email-form input {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #2e3131;
}

.password-form input {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #2e3131;
}

#upload-icon {
  color: #3AAFA9;
  font-size: 50px;
}

#new-title {
  color: #545454;
}

#product_label_photo {
  content: "<i class="fas fa-camera"></i>";
}
