.email-form input {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #2e3131;
}

.password-form input {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #2e3131;
}

#upload-icon {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  color: #3aafa9;
  font-size: 50px;
}

.upload-div {
  position: relative;
}

#product_label_photo {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  opacity: 0;
}

#scan-label {
  padding-top: 50px;
}
