.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  height: 60px;
}

.session {
  margin-left: 7px;
  opacity: 0.8;
  border-bottom: 2px solid #3aafa9;
}

.session p {
  color: #2e3131;
  text-shadow: 1px 1px 5px #eeeeee;
  font-weight: bold;
  font-size: 18px;
}

.user {
  margin-right: 5px;
}

#profile{
  position: absolute;
  transition: transform 0.5s 500ms ease-out;
}
.profile-click{
  transform: translate(25px, 50px);
}
#logout{
  position: absolute;
  transition: transform 0.5s 500ms ease-out;
}
.logout-click{
  transform: translate(60px, 2px);
}
