.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.session {
  color: #2e3131;
  border: 1px solid #3AAFA9;
  margin-left:8px ;
  border-radius:5px ;
}
