.fd-navbar .navbar-brand img {
  width: 30px;
  height: 40px;
}

.nav-title {
  margin-bottom: 0px;
  margin-left: 4px;
  font-weight: bold;
  color: #2e3131;
}

.nav-title-dark {
  margin-bottom: 0px;
  margin-left: 4px;
  font-weight: bold;
  color: #eeeeee;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.9);
}

.session p {
  color: #2e3131;
  font-weight: bold;
  font-size: 18px;
}

.user {
  margin-right: 5px;
}

.user_avatar {
  z-index: 2;
}

#profile {
  position: absolute;
  transition: transform 0.5s 500ms ease-out;
}
#profile i,
#logout i {
  font-size: 20px;
}
.profile-click {
  transform: translate(-60px, 2px);
}
#logout {
  position: absolute;
  transition: transform 0.5s 500ms ease-out;
}
.logout-click {
  transform: translate(-25px, 50px);
}
