<%= flash[:danger]  %>
<!-- Large modal -->
<div class="flash flash-danger alert alert-dismissible fade show " role="alert">
  <a data-dismiss="alert" aria-label="Close"><i class="fas fa-times"></i></a>
    <div class="modal-dialog modal-lg bg-danger">
    <button type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span></button>
      <div class="modal-content bg-danger d-flex flex-wrap">
        <div class="card shadow p-3 mb-5 rounded" style="width: 10rem; height:10rem; ">
          <img class="card-img-top" src="../assets/milk.png" alt="Milk">
          <div class="card-body">
            <h4 class="card-title text-center">Milk</h4> <!--restriction.name-->
          </div>
        </div>
        <div class="card shadow p-3 mb-5 rounded" style="width: 10rem; height:10rem;">
          <img class="card-img-top" src="../assets/gel.png" alt="Milk">
          <div class="card-body">
            <h4 class="card-title text-center">Gelatin</h4> <!--restriction.name-->
          </div>
        </div>
      </div>
    </div>
</div>





