  <div class="row justify-content-center">
    <div class="col">
      <div class="form-inputs d-flex justify-content-center flex-column text-center item-center">
      <%= simple_form_for @product do |f| %>
        <%= f.input :barcode, as: :hidden %>
        <div class="upload-div">
          <i class="fas fa-camera" id="upload-icon"></i>
          <div class="column justify-content-center" id="upload-div">
            <%= f.input :label_photo, label: false, as: :file, accept: 'image/*', capture: 'camera', id:'upload-img' %>
            <p id="scan-label">Capture label</p>
        <% end %>
          </div>
          <br>

        </div>
        <div class="p-2">
          <%= link_to "Scan a barcode", scan_barcodes_path %>
        </div>
      </div>
    </div>
  </div>
<script>
  document.querySelector('.form-control-file').addEventListener('change', () => {
document.getElementById('new_product').submit();
})
</script>
