<div class="column justify-content-center">
<h5 class="mt-0 mb-0 font-weight-bold" id="not-found-title"> Product Not Found </h5>
<img src="https://cdn.dribbble.com/users/2194014/screenshots/6044113/dribbble-05.png" width="100%" alt="">
<p id="not-found-content">Don't worry, <br> you can also scan a label.</p>
</div>
