<div class="text-center">
    <h5 class="pt-3 mb-0 font-weight-bold"> Product Not Found </h5>
    <img src="https://cdn.dribbble.com/users/2194014/screenshots/6044113/dribbble-05.png" width="100%" alt="notfound">
    <%# loading spinner %>
    <div class="lds-roller loading-show" id="loading"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    <p>Don't worry, <br> you can also scan the label.</p>
</div>

