<div class="text-center">
    <h4 class="pt-5 mb-3"> Product Not Found </h4>
    <%= image_tag 'not-found-crop.png', width: 100 %>
    <%# loading spinner %>
    <p class="px-5 mt-3">Don't worry, you can also scan the label.</p>
    <div class="lds-roller loading-show" id="loading"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>

