<%= render 'nodata' %> <!--modal for text rec.-->
<div class="container shadow p-5 mb-5 bg-white rounded">
  <h2 class="text-center mt-5" id="new-title"><i class="fas fa-cloud-upload-alt" id="upload-icon"></i><br>Upload a label photo</h2>
  <%= render 'new_form' %>
</div>
