<%= render 'nodata' %> <!--modal for text rec.-->
<div class="container text-center">
  <%=render 'camera' %>
  <div class="collapse" id="collapseForm">
    <div class="card card-body">
    </div>
  </div>
</div>
